html {
  width: 100%;
  height: 100%;
}
h1 {
text-align: center;

}
.gameBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  width: 100vw;
}

body {
  background-color: #121c21;
  color: #fff;
  font-size: 25px;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  background-color: #fff;
  color: #000;
  width: 100vw;
  height: 100px;
}
.start:hover {
  background-color: #000;
  color: #fff;
}

footer {
  position: absolute;
  bottom: 25px;
  height: 5px;
  font-size: 15px;
}
.styledDiv {
  
  background-color: #000;
  width: 250px;
  height: 50px;
  margin: 10px;
  line-height: 50px;
  text-align: center;
}

.styledDiv:hover {
  background-color: #aaa;
}