html {
  width: 100%;
  height: 100%;
}
h1 {
text-align: center;

}
.gameBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  width: 100vw;
}

body {
  background-color: #121c21;
  color: #fff;
  font-size: 25px;
}